@import 'design/settings/colors';
@import 'design/tools/sizing';
@import 'design/generic/layout';
@import 'design/tools/transitions';

.filters-panel {
	padding: rem(15) 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $screen-size__max;
	}
}
