{
  "printWidth": 140,
  "proseWrap": "preserve",
  "singleQuote": true,
  "semi": false,
  "useTabs": true,
  "endOfLine": "auto",
  "tabWidth": 2,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSameLine": true
}
