@import 'design/tools/media';
@import 'design/tools/transitions';

.left-menu {
	left: 0;
	position: absolute;

	&__hamburger {
		@include large-screen {
			display: none;
		}
	}

	&__mobile-menu {
		transform: translateX(-100%);

		@include property-animation('transform');

		&--entered {
			transform: translateX(0);
		}
	}
}
