@import 'design/settings/colors';
@import 'design/tools/sizing';
@import 'design/tools/media';

.right-menu {
	display: flex;
	position: absolute;
	right: 0;

	&__link {
		box-sizing: content-box;
		color: $color__basic-900;
		display: block;
		padding: rem(10);
		width: rem(20);
	}

	&__user {
		display: none;

		@include large-screen {
			display: block;
		}
	}
}
