@import 'design/tools/sizing';

.filters-popup {
	&__artists {
		display: grid;
		gap: rem(20);
		grid-template-columns: 1fr 1fr;
		padding: rem(20);
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		padding: rem(30) rem(20);
	}
}
