@import 'design/settings/colors';
@import 'design/tools/sizing';

.hamburger {
	background: none;
	border: none;
	box-sizing: content-box;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: rem(8);
	justify-content: space-between;
	padding: rem(8);
	width: rem(14);

	&__line {
		background-color: $color__basic-900;
		display: block;
		height: rem(1);
		width: 100%;
	}
}
