@import 'design/settings/colors';
@import 'design/settings/fonts';
@import 'design/settings/font-weights';
@import 'design/tools/sizing';
@import 'design/tools/transitions';

.language-selector {
	&__button {
		align-items: center;
		background: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		gap: rem(5);
		padding: rem(5) rem(10);
	}

	&__language {
		font-family: $font__secondary;
		font-weight: $font-weight__light;
	}

	&__chevron {
		height: rem(14);
		width: rem(14);

		@include property-animation('transform', 200);

		&--expanded {
			transform: rotate(-180deg);
		}
	}

	&__icon {
		display: flex;
		height: rem(13);
		width: rem(20);
	}
}
