@import 'design/settings/colors';
@import 'design/tools/sizing';
@import 'design/tools/media';

.header {
	background-color: $color__basic-100;
	border-bottom: rem(1) solid $color__basic-200;
	left: 0;
	padding: rem(15) rem(20);
	position: fixed;
	width: 100%;
	z-index: 1;
}
