@import 'design/settings/screen-sizes';
@import 'design/settings/colors';
@import 'design/tools/sizing';
@import 'design/tools/media';
@import 'design/tools/transitions';
@import 'design/generic/layout';

.header {
	background-color: $color__basic-100;
	border-bottom: rem(1) solid $color__basic-200;
	left: 0;
	padding-bottom: rem(15);
	padding-top: rem(15);
	position: fixed;
	width: 100%;
	z-index: 1;

	@include property-animation('transform', 200ms);

	@include large-screen {
		padding-bottom: 0;
		padding-top: 0;
	}

	&--compact {
		@include large-screen {
			transform: translateY(rem(-85));
		}
	}

	&--top {
		@include large-screen {
			border-bottom: none;
		}
	}

	&__menu,
	&__navigation {
		@extend %page-container;

		margin: 0 auto;
		max-width: $screen-size__max;
	}

	&__menu {
		opacity: 100%;

		@include property-animation('opacity', 300ms, $delay: 200ms);

		&--compact {
			@include large-screen {
				opacity: 0%;
			}
		}
	}

	&__navigation {
		align-items: center;
		display: none;
		justify-content: center;
		opacity: 100%;

		@include large-screen {
			display: flex;
		}
	}
}
