@import 'design/generic/layout';
@import 'design/settings/screen-sizes';

.content {
	@extend %body-padding;
	@extend %page-container;

	margin: 0 auto;
	max-width: $screen-size__max;
	min-width: $screen-size__min;
}
